@model InventoryManagementSystem.Models.BorrowedItemViewModel

@{
    ViewData["Title"] = "Pick Up";
}
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title Order Item</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Order</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title Order Item
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-style mb-30 row">
            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Name</label>
                <input value="@Model.OrderItem?.Item?.Name" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Item Code</label>
                <input value="@Model.OrderItem?.Item?.KodeItem" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">User Email</label>
                <input value="@Model.OrderItem?.User?.Email" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Approved Borrow Date</label>
                <input value="@Model.OrderItem?.BorrowDateApproved" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Approved Due Date</label>
                <input value="@Model.OrderItem?.DueDateApproved" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Note for Pickup</label>
                <input value="@Model.OrderItem?.NoteWaitingPickUp" class="form-control" readonly />
            </div>

            <hr class="col-12 mt-2">

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" readonly />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" readonly />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label asp-for="BorrowedDate" class="control-label">Approved Borrow Date</label>
                <input asp-for="BorrowedDate" class="form-control" readonly />
                <span asp-validation-for="BorrowedDate" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Approved Due Date</label>
                <input asp-for="DueDate" class="form-control" readonly />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Pick Up Date</label>
                <input asp-for="CreateAt" class="form-control" readonly />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Pick Up Note</label>
                <input asp-for="NoteBorrowed" class="form-control" />
                <span asp-validation-for="NoteBorrowed" class="text-danger"></span>
            </div>
            <div class="">
                @* <label asp-for="Picture" class="control-label"></label> *@
                <input asp-for="Picture" type="file" class="form-control"
                    onchange="document.getElementById('pictureOutput').src = window.URL.createObjectURL(this.files[0])" />
            </div>
            <div class="col-12 mb-12">
                <img id="pictureOutput" alt="" style="width: 80px;" />
            </div>

            <div class="col-12 mt-2 d-flex gap-4">
                <a asp-controller="OrderItems" asp-action="Index" type="button"
                    class="main-btn danger-btn-outline rounde-sm btn-hover">Batal</a>

            </div>

            <div class="col-12 mt-2 d-flex gap-4">
                <button type="submit" class="main-btn success-btn rounde-sm btn-hover gap-2">
                    <i class="mdi mdi-package-up fs-4"></i> Pick Up Item
                </button>
            </div>

        

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
