@model InventoryManagementSystem.Models.BorrowedItem

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Items</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-style mb-30 row">
        <div class="input-style-1 mb-2 col-4">
            <label>Item Code</label>
            <input value="@Model.Item?.KodeItem" placeholder="Kode Item" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>User Email</label>
            <input value="@Model.User?.Email" placeholder="User" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="CreateAt">Created at</label>
            <input value="@Model.CreateAt" placeholder="Created at" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="BorrowedDate">Approved Borrow Date</label>
            <input value="@Model.BorrowedDate" placeholder="Borrow Date" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Approved Due Date</label>
            <input value="@Model.DueDate" placeholder="Due Date" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Pick Up Note</label>
            <input value="@Model.NoteBorrowed" placeholder="Note" readonly />
        </div>
        <div class="input-style-1 col-4 mb-4 mt-4 col-12">
            <label class="mb-2 control-label">Preview Image</label><br>
            <img id="pictureOutput" src="~/uploads/@Model.Item?.PicturePath" alt="" style="width: 200px;" />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Status</label>
            <input value="@Model.Status" placeholder="Status" readonly />
        </div>
    </div>
@* @model InventoryManagementSystem.Models.BorrowedItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BorrowedItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.KodeItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteBorrowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteBorrowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
