@model InventoryManagementSystem.Models.Item

@{
    ViewData["Title"] = "Item Details";
}
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Items</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-style mb-30 row">
        <img id="pictureOutput" src="~/uploads/@Model.PicturePath" alt="" style="width: 200px;" />
    </div>
    <div class="card-style mb-30 row">
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="KodeItem">Item Code</label>
            <input asp-for="KodeItem" placeholder="Item Code" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" placeholder="Name" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" placeholder="Description" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Category">Category</label>
            <input value="@Model.Category?.CategoryName" placeholder="Category" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="SubCategory">Sub Category</label>
            <input value="@Model.SubCategory?.SubCategoryName" placeholder="Sub Category" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Supplier">Supplier</label>
            <input value="@Model.Supplier?.CompanyName" placeholder="Supplier" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="CreateAt" class="control-label">Created at</label>
            <input asp-for="CreateAt" class="form-control" readonly />
            <span asp-validation-for="CreateAt" class="text-danger"></span>
        </div>
        <div class="ms-3 form-check mb-2 col-12">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Availability" disabled />
                @Html.DisplayNameFor(model =>model.Availability)
            </label>
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
            <a asp-action="Index" type="button" class="main-btn primary-btn rounde-sm btn-hover">Back To List</a>
        </div>
    </div>

@* <h1>Details</h1>

<div>
<h4>Item</h4>
<hr />
<dl class="row">
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.KodeItem)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.KodeItem)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Name)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.Name)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Description)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.Description)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Availability)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.Availability)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Category)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.Category.CategoryCode)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.SubCategory)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.SubCategory.SubCategoryCode)
</dd>
<dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Supplier)
</dt>
<dd class = "col-sm-10">
@Html.DisplayFor(model => model.Supplier.CompanyName)
</dd>
</dl>
</div>
<div>
<a asp-action="Edit" asp-route-id="@Model?.IdItem">Edit</a> |
<a asp-action="Index">Back to List</a>
</div> *@
