@model InventoryManagementSystem.Models.OrderItem

@{
    ViewData["Title"] = ViewBag.statusAction;


}


<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title Request Approval</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Borrow Requests</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title Request Approval
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-style mb-30 row">

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Name</label>
                <input value="@Model.RequestItem?.Item?.Name" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">Item Code</label>
                <input value="@Model.RequestItem?.Item?.KodeItem" class="form-control" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">User Email</label>
                <input value="@Model.RequestItem?.User?.Email" class="form-control" readonly />
            </div>
            <div class="input-style-1 mb-2 col-4">
                <label asp-for="RequestItem.RequestBorrowDate">Request Borrow Date</label>
                <input asp-for="RequestItem.RequestBorrowDate" placeholder="Request Borrow Date" readonly />
            </div>

            @* menggunakan asp-for untuk date seperti tampilan detail req item *@
            <div class="input-style-1 mb-2 col-4">
                <label asp-for="RequestItem.RequestDueDate">Request Due Date</label>
                <input asp-for="RequestItem.RequestDueDate" placeholder="Request Due Date" readonly />
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label class="control-label">User Request Note</label>
                <textarea class="form-control" readonly>@Model.RequestItem?.NoteRequest</textarea>
            </div>

            <hr class="col-12 mt-2">

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" readonly />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="RequestId" class="control-label"></label>
                <input asp-for="RequestId" class="form-control" readonly />
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4 d-none">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" readonly />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label asp-for="BorrowDateApproved" class="control-label">Approved Borrow Date</label>
                <input asp-for="BorrowDateApproved" class="form-control" id="borrowDateInput"/>
                <span asp-validation-for="BorrowDateApproved" class="text-danger"></span>
            </div>

            <div class="input-style-1 mb-2 col-4">
                <label asp-for="DueDateApproved" class="control-label">Approved Due Date</label>
                <input asp-for="DueDateApproved" class="form-control" id="dueDateInput"/>
                <span asp-validation-for="DueDateApproved" class="text-danger"></span>
            </div>
            <div class="input-style-1 mb-2 col-4">
                <label>Note for Pick Up </label>
                <textarea asp-for="NoteWaitingPickUp" class="form-control"></textarea>
                <span asp-validation-for="NoteWaitingPickUp" class="text-danger"></span>
            </div>

            <div class="col-12 mt-2 d-flex gap-4">
                <a asp-controller="RequestItems" asp-action="Index" type="button"
                    class="main-btn danger-btn-outline rounde-sm btn-hover">Cancel</a>
                <button type="submit" class="main-btn success-btn rounde-sm btn-hover">Approved</button>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    document.getElementById('borrowDateInput').addEventListener('change', validateRequestDate);
    document.getElementById('dueDateInput').addEventListener('change', validateDueDate);

    function validateRequestDate() {
        var requestDate = new Date(document.getElementById('borrowDateInput').value);
        var dueDate = new Date(document.getElementById('dueDateInput').value);

        if (requestDate >= dueDate) {
            alert('Request date must be before the due date.');
            document.getElementById('borrowDateInput').value = document.getElementById('borrowDateInput').defaultValue;
        }
    }

    function validateDueDate() {
        var requestDate = new Date(document.getElementById('borrowDateInput').value);
        var dueDate = new Date(document.getElementById('dueDateInput').value);

        if (dueDate <= requestDate) {
            alert('Request date must be before the due date.');
            document.getElementById('dueDateInput').value = document.getElementById('dueDateInput').defaultValue;
        }
    }
    </script>

}