@model IEnumerable<InventoryManagementSystem.Models.Supplier>

@{
    ViewData["Title"] = "Manage Supplier";
    var searchString=@Context.Request.Query["SearchString"];
}

<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Supplier</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title                                
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="input-style-1 row">
            <form asp-controller="Suppliers" asp-action="Index" method="get" class="d-flex gap-2 col-3">
                <input type="text" name="SearchString" value="@searchString" placeholder="Search..." />
                <button class="main-btn search-btn primary-btn rounded-sm btn-hover">
                    <i class="lni lni-search-alt px-3"></i>
                </button>
            </form>
            <div class="col-7"></div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-2">
                    <a asp-action="Create" class="main-btn primary-btn rounded-sm btn-hover h-100 " style="">Create New Supplier</a>
                </div>
            }
        </div>
    </div>

    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h6>Company Name</h6>
                                    </th>
                                    <th>
                                        <h6>Contact Number</h6>
                                    </th>
                                    <th>
                                        <h6>Address</h6>
                                    </th>
                                    <th>
                                        <h6>Email</h6>
                                    </th>
                                    <th>
                                        <h6>Action</h6>
                                    </th>
                                </tr>
                                <!-- end table row-->
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="min-width">
                                            <a asp-action="Details" asp-route-id="@item.SupplierId">
                                                <p class="text-primary">@Html.DisplayFor(modelItem => item.CompanyName)</p>
                                            </a>
                                        </td>
                                        <td class="min-width">
                                            <p>@Html.DisplayFor(modelItem => item.ContactNumber)</p>
                                        </td>
                                        <td class="min-width">
                                            <p>@Html.DisplayFor(modelItem => item.Address)</p>
                                        </td>
                                        <td class="min-width">
                                            <p>@Html.DisplayFor(modelItem => item.EmailCompany)</p>
                                        </td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <td style="width: 122px;">
                                                <div class="action gap-3">
                                                    <a class="text-primary fs-3" asp-action="Edit" asp-route-id="@item.SupplierId">
                                                        <i class="mdi mdi-square-edit-outline"></i>
                                                    </a>
                                                    <a class="text-gray fs-3" asp-action="Details" asp-route-id="@item.SupplierId">
                                                        <i class="mdi mdi-eye-outline"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        }                    
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCompany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
