@model InventoryManagementSystem.Models.SubCategory

@{
    ViewData["Title"] = "Details Subcategory";
}
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Subcategories</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-style mb-30 row">
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="SubCategoryCode"></label>
            <input asp-for="SubCategoryCode" placeholder="SubCategory Code" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="SubCategoryName"></label>
            <input asp-for="SubCategoryName" placeholder="SubCategory Name" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Category"></label>
            <input value="@Model.Category?.CategoryName" placeholder="Category" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Description"></label>
            <input asp-for="Description" placeholder="Deskripsi" readonly />
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.IdSubCategory" type="button" class="main-btn info-btn rounde-sm btn-hover">Edit</a>
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
            <a asp-action="Index" type="button" class="main-btn primary-btn rounde-sm btn-hover">Back To List</a>
        </div>
    </div>
</div>

@* 
<h1>Details</h1>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategoryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategoryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSubCategory">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
